/* src/global.css */

body {
  font-family: sans-serif;
  line-height: 1.5;

  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}
